/*Global*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: $dark;
    list-style: none;
    text-decoration: none;
}

.max-sized {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}


/*Global--backgrounds*/

.bg {
    @include bg;
}

.bg-hover {
    @include bg-hover;
}


/*margin - padding*/

.m {
    @include margin;
}

.p {
    @include padding;
}

.shadow {
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}